# Строки
Строки в Python заключаются либо в одинарные, либо в двойные кавычки.

`'привет'` — это то же самое, что `"привет"` .

Вы можете отобразить строковый литерал с помощью функции print():

In [ ]:
print("Привет")
print('Привет')

Привет
Привет

## Присвоить переменной строку 
Присвоение строки переменной выполняется с именем переменной, за которым следует знак равенства и строка:

In [ ]:
a = "Привет"
print(a)

Привет

In [ ]:
new_str = input("Введите строку: ")

Введите строку: фыва

In [ ]:
new_str

'фыва'

## Многострочные строки
Вы можете присвоить многострочную строку переменной, используя три кавычки:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Или три одинарных кавычки:

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Примечание**: в результате разрывы строк вставляются в том же месте, что и в коде.

## Строки — это массивы
Как и во многих других популярных языках программирования, строки в Python представляют собой массивы байтов, представляющие символы Юникода.

Однако в Python нет символьного типа данных, один символ — это просто строка длиной 1.

Квадратные скобки можно использовать для доступа к элементам строки.

Получить символ в позиции 1 (помните, что первый символ имеет позицию 0):

In [ ]:
a = "Привет Мир!"
print(a[1])

р

## Перебор символов строки
Поскольку строки являются массивами, мы можем перебирать символы в строке с помощью цикла for.

In [ ]:
for x in "банан":
  print(x)

б
а
н
а
н

## Длина строки

Чтобы получить длину строки, используйте функцию len().

In [ ]:
a = "Привет Мир!"
print(len(a))

11

## Проверка на находжение в строке подстроки
Чтобы проверить, присутствует ли в строке определенная фраза или символ, мы можем использовать ключевое слово in.

Проверьте, присутствует ли слово «бесплатны» в следующем тексте:

In [ ]:
txt = "Лучшие вещи в жизни бесплатны!"
print("бесплатны" in txt)

True

Используйте его в if заявлении:

In [ ]:
txt = "В жизни лучшая вещь, это свобода!"
if "свобода" in txt:
  print("Да, 'свобода' это подарок.")

Да, 'свобода' это подарок.

Чтобы проверить, **не присутствует ли** в строке определенная фраза или символ, мы можем использовать логическую операцию `not in`.

Проверьте, НЕ присутствует ли слово «дорогой» в следующем тексте:

In [ ]:
txt = "Лучшие вещи в жизни бесплатны!"
print("дорогой" not in txt)

True

Например, вывести текст, только если слово "дорогой" НЕ присутствует в исходной стркое txt:

In [ ]:
txt = "Лучшие вещи в жизни бесплатны!"
if "дорогой" not in txt:
  print("Нет, 'дорогой' это НЕ подарок.")

Нет, 'дорогой' это НЕ подарок.

## Срезы строк (slicing)

Вы можете получить диапазон символов (подстроку), используя синтаксис среза.

Укажите начальный и конечный индексы, разделенные двоеточием, чтобы вернуть часть строки.

Получить символы в диапазоне от позиции 2 до позицию 5 (позиция 5 не включается):

In [ ]:
b = "Привет Мир!"
print(b[2:5])

иве

>**Примечание**: первый символ имеет индекс 0.

## Срез с самого начала
Если исключить начальный индекс, диапазон будет начинаться с первого символа:

Получить символы от начала до позиции 6 (не включены):

In [ ]:
b = "Привет Мир!"
print(b[:6])

Привет

## Срез до конца строки
Если исключить конечный индекс, диапазон будет доведен до конца:

Получите символы с позиции 2 и до конца:

In [ ]:
b = "Привет Мир!"
print(b[2:])

ивет Мир!

## Отрицательное индексирование
Используйте отрицательные индексы, чтобы начать срез с конца строки:

In [ ]:
b = "ПриветМир!"
print(b[-5:-2])

тМи

#Задание 1

![image.png]()

In [ ]:
home = "Дом, родной дом!"

###1.1 Дана строка. Выведите символ, стоящий на 3 месте

In [ ]:
home = "Дом, родной дом!"
third_character = home[2]
print(third_character)

###1.2 Выведите длину заданной строки

In [ ]:
home = "Дом, родной дом!"
length_of_string = len(home)
print(length_of_string)

###1.2 Выведите часть строки - с  начала до 4 символа включительно

In [ ]:
home = "Дом, родной дом!"
substring = home[0:4]
print(substring)

###1.3 Дана строка "Дом, родной дом!" Выведите часть этой строки, так, чтобы получилось слово "родной"

In [ ]:
home = "Дом, родной дом!"
substring = home[5:11]
print(substring)

###1.4.Выведите часть заданной строки с 5 символа и до конца

In [ ]:
home = "Дом, родной дом!"
substring = home[5:]
print(substring)

###1.4 Выведите последние 4 символа заданной строки

In [ ]:
home = "Дом, родной дом!"
last_four_chars = home[-4:]
print(last_four_chars)

###1.5 Определите, есть ли подстрока "ой" в заданной строке

In [ ]:
home = "Дом, родной дом!"
substring = "ой"

if substring in home:
    print(f'Подстрока "{substring}" найдена в строке.')
else:
    print(f'Подстрока "{substring}" не найдена в строке.')

# Изменения строки

## В Python есть набор встроенных методов, которые можно использовать со строками.

## Upper Case

Метод upper() возвращает строку в верхнем регистре:

In [ ]:
a = "Привет Мир!"
print(a.upper())
print(a)

ПРИВЕТ МИР!
Привет Мир!

## Lower Case

Метод lower() возвращает строку в нижнем регистре:

In [ ]:
a = "Привет Мир!"
print(a.lower())
print(a)

привет мир!
Привет Мир!

## Удаление пробела
Пробел — это пространство до и/или после фактического текста, и очень часто приходится удалиять это пространство (например, в случае, когда строка получена пользовательским вводом, и требуется дальнейшая обработка введеной строки.

Метод strip() удаляет все пробелы в начале и в конце строки:

In [ ]:
a = "    Привет Мир!    "
b = a.strip()
print(b) # returns "Привет Мир!"
print(a)

Привет Мир!
    Привет Мир!

In [ ]:
name = input("Введите Ваше имя: ")
print ("Доброго дня, ", name.strip())

Введите Ваше имя: ф\ывп
Доброго дня,  ф\ывп

## Замена строки

Метод replace() заменяет одну строку другой строкой:

In [ ]:
a = "Привет Мир!"
print(a.replace("П", "Ж"))

Жривет Мир!

## Разделить строку
Метод split() возвращает список, в котором текст между указанным разделителем становится элементами списка.

Метод split() разбивает строку на подстроки, если находит экземпляры разделителя:

In [ ]:
a = "Привет Мир hello!"
print(a.split(" ")) # returns ['Привет', ' Мир!']

['Привет', 'Мир', 'hello!']

## Конкатенация (слияние) строк
Чтобы соединить или объединить две строки, вы можете использовать оператор +.

Объединить переменную "a" с переменной "b" в переменную "c":

In [ ]:
a = "Привет"
b = "Мир"
c = a + b
print(c)

ПриветМир

Чтобы добавить пробел между ними, добавьте " ":

In [ ]:
a = "Привет"
b = "Мир"
c = a + "  " + b + " ты прекрасен"
print(c)

Привет  Мир ты прекрасен

# Форматирование строки

Как мы узнали из темы «Переменные Python», мы не можем комбинировать строки и числа следующим образом:

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

Но мы можем комбинировать строки и числа с помощью метода `format()` 

Метод `format()` принимает переданные аргументы, форматирует их и помещает в строку, где в фигурных скобках `{}` находятся *заполнители*:

Используйте `format()` метод для вставки чисел в строки:

In [ ]:
age = 36
txt = "Меня зовут Джон, и мне {}"
print(txt.format(age))

Меня зовут Джон, и мне 36

Метод format() принимает неограниченное количество аргументов и помещает аргументы в соответствующие заполнители:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
my_order = "Я хочу {} кусочка {} за {} доллара."
print(my_order.format(quantity, itemno, price))

Я хочу 3 кусочка 567 за 49.95 доллара.

Вы можете использовать порядковые номера {0}, чтобы убедиться, что аргументы помещены в правильные заполнители:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
my_order = "Я хочу заплатить {2} доллара за {0} кусочка {1}."
print(my_order.format(quantity, itemno, price))

Я хочу заплатить 49.95 доллара за 3 кусочка 567.

# Escape-символы

Чтобы вставить недопустимые символы в строку, используйте escape-символ.

Экранирующий символ — это обратная косая черта \, за которой следует символ, который вы хотите вставить.

Примером недопустимого символа является двойная кавычка внутри строки, заключенной в двойные кавычки:

In [ ]:
txt = "Мы - так называемые "викинги" с севера."

SyntaxError: ignored

Вы получите сообщение об ошибке, если используете двойные кавычки внутри строки, заключенной в двойные кавычки:

Чтобы решить эту проблему, используйте escape-символ \":

Экранирующий символ позволяет вам использовать двойные кавычки, когда обычно это запрещено:

In [ ]:
txt = "Мы - так называемые \"викинги\" с севера."

In [ ]:
txt

'Мы - так называемые "викинги" с севера.'

# Escape символы
Другие escape-символы, используемые в Python:

| символы | |значения |
| --- | |----------- |
|\\'|  |**Single Quote**|	
|\\|  |**Backslash**|
 |\n|	|**New Line**|	
 |\r| |**Carriage Return**|	
 |\t| |**Tab**|	
 |\b| |**Backspace**|	
 |\f| |**Form Feed**|	
 |\ooo| |**Octal value**|	
 |\xhh| |**Hex value**|

# Строковые методы
В Python есть набор встроенных методов, которые можно использовать со строками.

>**Примечание**. Все строковые методы возвращают новые значения. Они не изменяют исходную строку.

|Комманда| |Пояснение|
|:---||:---|
|capitalize()| |**Преобразует первый символ в верхний регистр**|
|casefold()|	|**Преобразует строку в нижний регистр**|
|center()|	|**Возвращает центрированную строку**|
|count()| |**Возвращает количество раз, когда указанное значение встречается в строке**|
|encode()|	|**Возвращает закодированную версию строки**|
|endswith()|	|**Возвращает значение true, если строка заканчивается указанным значением**|
|expandtabs()|	|**Задает размер табуляции строки**|
|find()|	|**Выполняет поиск в строке указанного значения и возвращает позицию,в которой оно было найдено**| 
|format()|	|**Форматирует указанные значения в строку**|
|format_map()|	|**Форматирует указанные значения в строку**|
|index(|	|**Выполняет поиск в строке указанного значения и возвращает позицию, в которой оно было найдено**|
|isalnum()|	|**Возвращает значение True, если все символы в строке являются буквенно-цифровыми**|
|isalpha()|	|**Возвращает значение True, если все символы в строке находятся в алфавите**|
|isdecimal()|	|**Возвращает значение True, если все символы в строке являются десятичными дробями**|
|isdigit()|	|**Возвращает значение True, если все символы в строке являются цифрами**|
|isidentifier()|	|**Возвращает значение True, если строка является идентификатором**|
|islower()|	|**Возвращает значение True, если все символы в строке написаны в нижнем регистре**|
|isnumeric()|	|**Возвращает значение True, если все символы в строке являются числовыми**|
|isprintable()|	|**Возвращает значение True, если все символы в строке доступны для печати**|
|isspace()|	|**Возвращает значение True, если все символы в строке являются пробелами**|
|istitle()|	|**Возвращает значение True, если строка соответствует правилам заголовка**|
|isupper()|	|**Возвращает значение True, если все символы в строке написаны в верхнем регистре**|
|join()|	|**Соединяет элементы итерируемого объекта с концом строки**|
|ljust()|	|**Возвращает выровненную по левому краю версию строки**|
|lower()|	|**Преобразует строку в нижний регистр**|
|lstrip()|	|**Возвращает левую обрезанную версию строки**|
|maketrans()| |**Возвращает таблицу перевода, которая будет использоваться в переводах**|
|partition()|	|**Возвращает кортеж, в котором строка разделена на три части**|
|replace()|	|**Возвращает строку, в которой указанное значение заменяется указанным значением**|
|rfind()|	|**Выполняет поиск в строке указанного значения и возвращает последнюю позицию, в которой оно было найдено**|
|rindex()|	|**Выполняет поиск в строке указанного значения и возвращает последнюю позицию, в которой оно было найдено**|
|rjust()|	|**Возвращает выровненную по правому краю версию строки**|
|rpartition()|	|**Возвращает кортеж, в котором строка разделена на три части**|
|rsplit()|	|**Разбивает строку на указанный разделитель и возвращает список**|
|rstrip()|	|**Возвращает правильную обрезанную версию строки**|
|split()|	|**Разбивает строку на указанный разделитель и возвращает список**|
|splitlines()|	|**Разбивает строку на разрывы строк и возвращает список**|
|startswith()|	|**Возвращает значение true, если строка начинается с указанного значения**|
|strip()|	|**Возвращает урезанную версию строки**|
|swapcase()|	|**Меняет местами регистры, нижний регистр становится верхним регистром и наоборот**|
|title()|	|**Преобразует первый символ каждого слова в верхний регистр**|
|translate()|	|**Возвращает переведенную строку**|
|upper()|	|**Преобразует строку в верхний регистр**|
|zfill()|	|**Заполняет строку заданным количеством значений 0 в начале**|

# Упражнения
Вставьте вместо точек необходимый фрагмент кода

## Упражнение 2.1:
Получите строку без пробелов в начале и в конце.

In [ ]:
txt = "   Привет Мир   "
x = txt.strip()
print(x)

## Упражнение 2.2:
Преобразуйте значение txt в верхний регистр.

In [ ]:
txt = "Привет Мир"
txt = txt.upper()
print(txt)

## Упражнение 2.3:
Преобразуйте значение txt в нижний регистр.

In [ ]:
txt = "Привет Мир"
txt = txt.lower()
print(txt)

## Упражнение 2.4
Замените символ e на символ o

In [ ]:
txt = "Hello World"
txt = txt.replace('e', 'o')
print(txt)

## Упражнение 2.5:
Вставьте правильный синтаксис, чтобы добавить заполнитель для параметра возраста.

In [ ]:
age = 36
txt = "Меня зовут Джон, и мне {} лет".format(age)
print(txt)

###Задача 1:
Попросите пользователя ввести имя и воззраст. Затем, используя метод формат, выведите сообщение "Рады видеть Вас, ИМЯ, очень хорошо, что Вам N лет". У введенного имени удалите пробелы и преобразуйте все символы к верхнему регистру

In [ ]:
name = input("Введите ваше имя: ")
age = input("Введите ваш возраст: ")

formatted_name = name.replace(" ", "").upper()

message = "Рады видеть Вас, {}, очень хорошо, что Вам {} лет".format(formatted_name, age)
print(message)

###Задача 2
Сформировать из заданной строки две строки. В первой записать только четные буквы исходной, во вторую - только нечетные

Подсказки:

In [ ]:
home = "Дом, родной дом!"

home_list = list(home)

even_chars = ""
odd_chars = ""

for index, char in enumerate(home_list):
    if index % 2 == 0: 
        even_chars += char
    else:
        odd_chars += char

print("Четные символы:", even_chars)
print("Нечетные символы:", odd_chars)

['Д',
 'о',
 'м',
 ',',
 ' ',
 'р',
 'о',
 'д',
 'н',
 'о',
 'й',
 ' ',
 'д',
 'о',
 'м',
 '!']

Используя slicing переписать строку с конца

In [ ]:
home = "Дом, родной дом!"

home_list = list(home)

even_chars = ""
odd_chars = ""

for index, char in enumerate(home_list):
    if index % 2 == 0:
        even_chars += char
    else:
        odd_chars += char

print("Четные символы:", even_chars)
print("Нечетные символы:", odd_chars)

'Дм онйдм'

###Задача
Выяснить, является ли введенная пользователем строка палиндромом (слова вводятся без пробела).

In [ ]:
user_input = input("Введите строку: ")

cleaned_input = user_input.replace(" ", "").lower()

is_palindrome = cleaned_input == cleaned_input[::-1]

if is_palindrome:
    print("Строка является палиндромом.")
else:
    print("Строка не является палиндромом.")

###Упражнение 1. Не выполняя код, определите, что будет результатом каждого и з выражений:

![image.png]()

In [ ]:
'aliono'
[115, 202, 192, 334]
2
[3, 2, 1]
<class 'list'>
'This---is---important'
707
'tsn tell'

Создайте список, содержащий все знаки препинания и пробел. Используя этот список и метод replace удалите в заданной строке поочередно все знаки препинания и пробелы

In [ ]:
s = "И, лежу. - ужели!"
s= s.replace(',','')
s

'И лежу. - ужели!'

In [ ]:
s = "И, лежу. - ужели!"

punctuation_and_spaces = [',', '.', '-', '!', ' ', '?', ';', ':', '(', ')', '[', ']', '{', '}', "'", '"']

for char in punctuation_and_spaces:
    s = s.replace(char, '')

print(s)

ИлежуУжели

###Упражнение 3. Доработайте скрипт, определяющий является ли введенная строка палиндромом (из предыдущего занятия) в предположении, что пользователь может вводить фразу с пробелами и знаками препинания

#F-строки 
Самый современный способ форматирования — это f-строки. Их использование улучшает читаемость кода и работают быстрее всех остальных способов форматирования. Для использования всех возможностей f-строк, достаточно поставить перед строкой символ «f». Оцените, насколько использование f-строк проще и читаемее, чем все остальные

In [ ]:
import string

def is_palindrome(phrase):
    translator = str.maketrans('', '', string.punctuation + ' ')
    cleaned_phrase = phrase.translate(translator).lower()
    
    return cleaned_phrase == cleaned_phrase[::-1]

user_input = input("Введите фразу: ")
if is_palindrome(user_input):
    print(f'"{user_input}" является палиндромом.')
else:
    print(f'"{user_input}" не является палиндромом.')

In [ ]:
i = 5
print("Вы получили оценку: " + str(i))
print(f"Вы получили оценку: {i}")

Вы получили оценку: 5

In [62]:
digit = 67
string = "Номер"

result_1 = "У нас есть цифры {0}, а также строка {1}".format(digit, string)
print(result_1)

'У нас есть цифры Номер, а также строка 67 '

In [63]:
# f-строки
digit = 67
string = "Номер"
result_3 = f"У нас есть цифры {digit}, а также строка {string}, но главное это цифра {digit}"

print(result_3)

У нас есть цифры 67, а также строка Номер, но главное это цифра 67

Мы сразу можем написать имена переменных внутри строки, не заботясь об их передачи в строку через метод format или %. 

Кроме переменных, f-строки могут работать и с выражениями.

In [64]:
a = 10
b = 22
result = f'Выполним пример: {a} + {b} = {a + b}, это сложение'
print(result)

Выполним пример: 10 + 22 = 32, это сложение

Также в f-строках можно вызывать методы и функции

In [65]:
name = "Алесь"
age = 38.5
result = f'ВАше имя: {name.upper()}, возраст: {round(age)}'
print(result)

ВАше имя: АЛЕСЬ, возраст: 38

Срезы тоже будут работать

In [67]:
string = "Перевернутая строка"
result = f'Это результат {string[::-1]} -- перевернутая строка'
print(result)

Это результат акортс яатунревереП -- перевернутая строка

Если нужно, чтобы в строке были символы фигурных скобок, достаточно просто поставить две открывающих или две закрывающих скобки подряд.

In [68]:
result = f'{{ Текст в скобках }}'
print(result)

{ Текст в скобках }

###Задaча
Запросите у пользователя (студента) имя и номер группы.Используя f-строки, выведите сообщение о том, в какой группе он обучается, и как его зовут

In [69]:
student_name = input("Введите имя: ")
group = input("Введите группу:  ")

message = f'Вы обучаетесь в группе {group}, Ваше имя {student_name}'

print(message)

Введите имя: Вася
Введите группу:  ИСИП43
Вы обучаетесь в группе ИСИП43, Ваше имя Вася

In [70]:
print(f'Вы обучаетесь в группе {input("Введите группу:  ")}, Ваше имя {input("Введите имя: ")}')

Введите группу:  BVB43
Введите имя: Jon
Вы обучаетесь в группе BVB43, Ваше имя Jon

###Задача
Дана строка, например: f4j6h6j7k3h6k7h0h1. Используя f-строки, выведите сообщение "Четные символы строки: fjhjkhkhh, нечетные символы строки: 466736701"

In [72]:
data= "f4j6h6j7k3h6k7h0h1"
message=f"Четные символы строки: {data[::2]}, нечетные символы строки: {data[1::2]}"
print(message)

Четные символы строки: fjhjkhkhh, нечетные символы строки: 466736701

In [75]:
dat= "f4j6h6j7k3h6k7h0h1"
message = f"Четные символы строки: {dat[::2]}нечетные символы строки:{dat[1::2]}"
print(message)

Четные символы строки: fjhjkhkhhнечетные символы строки:466736701